app:
  image:
    tag: v3.5.1

# Ingress configuration (optional)
ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
  - host: musicman.forteapps.net
    paths:
    - path: /
      pathType: Prefix
  tls:
  - secretName: music-man-tls
    hosts:
    - musicman.forteapps.net
